

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

.container{
    max-width: 90%;
    margin: 0 auto;

}

.content__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    text-align: center;
}

.hero{
    background: url("./images/Bitmap.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 363px; */
    /* top: 3px; */
    
}


.logo__nav{
    
    text-align: center;
    
}

.logo__nav img{
    /* margin: auto; */
    margin-top: 100px;
}
.content__nav{

}
.logo__nav h1{
    width: 100%;
    text-align: center;
    color: rgba(76, 84, 92, 1);
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 29px;
font-style: normal;
font-weight: 600;
margin-top: 78px;

}

/* section start */



.content__section{
    /* display: flex; */
    text-align: center;
}

.logo__section p{
   max-width: 93%;
   height: 50px;
    color: #9EABB2;
    margin: auto;
    font-family: Bai Jamjuree;
    font-size: 12px;
    font-weight: 400;
    text-align:center;
    line-height: 26px; /* 162.5% */
color: rgba(158, 171, 178, 1);
margin-top: 32px;
letter-spacing: 0.10px;
    
}

.btn{
     display:flex;
    justify-content: center;
    gap: 16px ;
    flex-direction: column;
}

.btn__button{

   width: 230px;
   margin: auto;
   border: none;
height: 50px;
color: white;
border-radius: 28px;
background: #26BBA4;
box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
margin-top: 70px;
cursor: pointer;
 
     
}

.btn__button1{


    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #6174FF;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 margin-top: 20px;
 cursor: pointer;
box-shadow:rgba(159, 159, 159, 0.5); */

}
.matn{
    width: 100%;
    
   margin:auto;
   margin-top: 100px;

}

h2{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.557px;
   
}

.matn p{
max-width: 100%;
color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.12px;
margin-top: 30px;
  
}

/* start pcing */

.content__pcing{
   display: flex;
   flex-direction: column;
   margin: auto;
   max-width: 100 vw;
   margin-top: 45px;
    
}
.logo__pcing .img{
     display: flex; 
     justify-content: center;
     margin: auto;
     display: none;
     margin-top: 120px;
     gap: 120px;


}
/* .logo__pcing.img{
    display: none;
    /* width: 70%; */
    


.img1{
    width: 100%;

}

.logo_2 h3{

    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.391px;
    /* font-family: Bai Jamjuree SemiBold;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.3913043141365051px;
    text-align: left;
    color: rgba(76, 84, 92, 1); */
    
}

.logo_2{
    margin-top: 45px;
}

h3{
    margin-top: 75px;

}
.logo_2 p{
   width: 100%;
   height: 78px;
    color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 13px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;


    /* width: 350px;
    height: 98px;
    color: rgba(158, 171, 178, 1);
    font-family: Bai Jamjuree;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.11999999731779099px;
    text-align: left; */
    
}
/* /* start tema * */


.logo__team{
text-align: center;}
h2{
  width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 28px;
font-style: normal;
margin-top: 120px;
font-weight: 600;
line-height: normal;
letter-spacing: -0.457px;
    /* font-family: Bai Jamjuree SemiBold;
    /* font-size: 24px; */
    /* font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.3913043141365051px;
    color: rgba(76, 84, 92, 1);   */ 
}

.logo__team p{
    width: 100%;
    color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 13px;
margin-top: 30px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.12px;
    /* width: 730px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13500000536441803px;
    text-align: center;
    margin: auto;
    color: rgba(158, 171, 178, 1);
    margin-top: -90px;*/
} 

.logo__team img{
    width: 100%;
    margin-top: 100px;
}
.of_1{
    text-align: center;
}

.of_1 h2{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.457px;
}

.pi{

    width: 100% ;
    color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 20px;
    margin:auto;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    margin-top: 20px;

    /* width: 730px; */
    /* font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13500000536441803px;
    text-align: center;
    margin: auto;
    color: rgba(158, 171, 178, 1);
    margin-top: -110px;    */
}

.block{
    max-width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 70px;
    margin-top: 145px;
}
.p{
width: 100%;
    color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.12px;
margin:auto;
margin-top:  12px;




    /* width: 97%;
    font-family: Bai Jamjuree;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13500000536441803px;
    text-align: center;
    margin: auto;
    color: rgba(158, 171, 178, 1);
    margin-top: 20px; */
}

.h3_tag{
    width: 100%;
    color: #4C545C;
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
}

.blok{

    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 90px;
    margin: auto;
    margin-top: 150px;
    flex-direction: column;


 }
.blok img{
    width: 70%;
    margin: auto;
} 

.logo_text h1{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.457px;
    margin-top: 150px;
}

.logo_text p{



   width: 90%;
    color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 16px;
    font-style: normal;
    margin: auto;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    margin-top: 50px;

   
    
}

.btn__btn_1{
    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #26BBA4;
 box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 margin-top: 70px;
 cursor: pointer;  
}


.btn__btn_2{
    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #6174FF;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 margin-top: 20px;
 cursor: pointer;
}

.btn_07{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-direction: column;

}

/* start footer */

.footer{
    max-width: 100%;
    opacity: 0.9;
     background:   rgb(210, 220, 226);

}

.logo__footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
     text-align: center;
      
    }
 .c_001{
   max-width: 30%;
   margin: auto;
   margin-top: 78px;
}

.obshi h4{
    width: 100%;
    color: #4C545C;
    margin-top: 25px;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.135px;
}

.aykin{
 display: flex; 
 justify-content: center;
 gap: 20px;

}
.aykin i{
    font-size: 24px;
    margin-top: 35px;
}


@media (min-width:767px)  {
  






.container{
    max-width: 100%;
    margin: 0 auto;

}

.content__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    text-align: center;
}




.logo__nav img{
    /* margin: auto; */
    margin-top: 100px;
}

.logo__nav h1{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.75px;

}

/* section start */


.content__section{
    /* display: flex; */
    text-align: center;
}

.logo__section p{
   max-width: 100%;
   color: #9EABB2;
   text-align: center;
   font-family: Bai Jamjuree;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 150% */
   letter-spacing: 0.15px;
    
}

.btn{
  display: unset;
  /* display: flex; */
  gap: 16px;

     
}

.btn__button{

width: 230px;
margin: auto;
border: none;
height: 50px;
color: white;
border-radius: 28px;
background: #26BBA4;
box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
margin-top: 70px;
cursor: pointer;
     
}

.btn__button1{


    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #6174FF;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 margin-top: 20px;
 cursor: pointer;



}
.matn{
    width: 100%;
    
   margin:auto;
   margin-top: 100px;

}

h2{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.587px;
   
}

.matn p{
max-width: 100%;
color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.135px;
    
}

/* start pcing */

.content__pcing{
    display: unset;
   display: flex;
   margin: auto;
   max-width: 100 vw;
   margin-top: 45px;
    
}
.logo__pcing{
    display: flex;
    align-items: center;
    gap: 70px;

}
.logo__pcing .img1{
     display: flex; 
     justify-content: center;
     margin: auto;
     /* margin-top: 100px; */
     width: 100%;
     display: none;
      

}


.logo__pcing .img{
    display: flex;
    width: 57%;
}




.logo_2 {
width: 100%;
    
}

.logo_2 h3{
   
    text-align:initial;

}

h3{
    margin-top: 5px;
    text-align:initial;
    
}
.logo_2 p{
   width: 100%;
   height: 70px;
   margin-top: 8px;
    color: #9EABB2;
    text-align:initial;
    font-family: Bai Jamjuree;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;

    
}
/* /* start tema * */


.logo__team{
text-align: center;}
h2{
  width: 100%;
  color: #4C545C;
  text-align: center;
  font-family: Bai Jamjuree SemiBold;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.587px;
    
}

.logo__team p{
    width: 90%;
    margin: auto;
    margin-top: 24px;
    color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.135px;
} 

.logo__team img{
    width: 100%;
    margin-top: 100px;
}
.of_1{
    text-align: center;
}

.of_1 h2{
    width: 100%;
    color: #4C545C;
text-align: center;
font-family: Bai Jamjuree SemiBold;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.457px;
}

.pi{

    width: 100% ;
    color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 20px;
    margin:auto;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    margin-top: 20px;

    
}

.block{
    max-width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 70px;
    margin-top: 145px;
}
.p{
width: 100%;
    color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.12px;
margin:auto;
margin-top:  12px;




}

.h3_tag{
    width: 100%;
    color: #4C545C;
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.391px;
}

.blok{
 
  display: flex;
  width:90%;
  flex-direction: row;
  gap :50px;
}
.blok img{
    display: flex;
   max-width: 100px;
}

.block{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: auto;
    margin-top: 150px;   
}


.logo_text h1{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.logo_text p{



   width: 100%;
   color: #9EABB2;
text-align: center;
font-family: Bai Jamjuree;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.12px;

  

    
}

.btn_07{
     display: unset;
      /* text-align: center; */
      display: flex;
   margin: auto;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 100px;
   gap: 0;
     
    
 }

.btn__btn_1{
    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #26BBA4;
 box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 /* margin-top: 70px; */
 cursor: pointer;  
}


.btn__btn_2{
    width: 230px;
    margin: auto;
    border: none;
 height: 50px;
 color: white;
 border-radius: 28px;
 background: #6174FF;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
 /* margin-top: 20px; */
 cursor: pointer;
}


/* start footer */

.footer{
    max-width: 100%;
    opacity: 0.9;
     background:   rgb(210, 220, 226);
     /* display:flex; */
     flex-direction: row;
    
}
.content_footer{
    display: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;  
}

.logo__footer{
    display: unset;
    width: 100%;
   
    /* flex-direction: row; */
     text-align: center;
      
    }
 .c_001{
   max-width: 30%;
   margin: auto;
   margin-top: 78px;
}
.foot_1 h4{
    display: unset;
    flex-direction: column;
   
}
.obshi {
   
    display: unset;
    display: flex;
   justify-content: center;
    width: 50%;
   align-items: center;
    gap: 15px;
}

.aykin{
 display: flex; 
 justify-content: center;
 gap: 20px;

}
.aykin i{
    font-size: 24px;
    margin-top: 35px;
}


@media (min-width:1024px)  {
 


    .container{
        max-width: 100%;
        margin: 0 auto;
    
    }
    
    .content__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        text-align: center;
    }
    
    
    
    
    .logo__nav img{
        /* margin: auto; */
        margin-top: 100px;
    }
    
    .logo__nav h1{
        width: 100%;
        color: #4C545C;
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
    
    }
    
    /* section start */
    
    
    .content__section{
        /* display: flex; */
        text-align: center;
    }
    
    .logo__section p{
       max-width: 100%;
       color: #9EABB2;
       text-align: center;
       font-family: Bai Jamjuree;
       font-size: 20px;
       font-style: normal;
       font-weight: 400;
       line-height: 30px; /* 150% */
       letter-spacing: 0.15px;
        
    }
    
    .btn{
      display: unset;
      /* display: flex; */
      gap: 16px;
    
         
    }
    
    .btn__button{
    
    width: 230px;
    margin: auto;
    border: none;
    height: 50px;
    color: white;
    border-radius: 28px;
    background: #26BBA4;
    box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
    margin-top: 70px;
    cursor: pointer;
         
    }
    
    .btn__button1{
    
    
        width: 230px;
        margin: auto;
        border: none;
     height: 50px;
     color: white;
     border-radius: 28px;
     background: #6174FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
     margin-top: 20px;
     cursor: pointer;
    
    
    
    }
    .matn{
        width: 100%;
        
       margin:auto;
       margin-top: 100px;
    
    }
    
    h2{
        width: 100%;
        color: #4C545C;
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.587px;
       
    }
    
    .matn p{
    max-width: 100%;
    color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.135px;
        
    }
    
    /* start pcing */
    
    .content__pcing{
        display: unset;
       display: flex;
       margin: auto;
       max-width: 100 vw;
       margin-top: 45px;
        
    }
    .logo__pcing{
        display: flex;
        align-items: center;
        gap: 70px;
    
    }
    .logo__pcing .img1{
         display: flex; 
         justify-content: center;
         margin: auto;
         /* margin-top: 100px; */
         width: 100%;
         display: none;
          
    
    }
    
    
    .logo__pcing .img{
        display: flex;
        width: 57%;
    }
    
    
    
    
    .logo_2 {
    width: 100%;
        
    }
    
    .logo_2 h3{
       
        text-align:initial;
    
    }
    
    h3{
        margin-top: 5px;
        text-align:initial;
        
    }
    .logo_2 p{
       width: 100%;
       height: 70px;
       margin-top: 8px;
        color: #9EABB2;
        text-align:initial;
        font-family: Bai Jamjuree;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.12px;
    
        
    }
    /* /* start tema * */
    
    
    .logo__team{
    text-align: center;}
    h2{
      width: 100%;
      color: #4C545C;
      text-align: center;
      font-family: Bai Jamjuree SemiBold;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.587px;
        
    }
    
    .logo__team p{
        width: 90%;
        margin: auto;
        margin-top: 24px;
        color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.135px;
    } 
    
    .logo__team img{
        width: 100%;
        margin-top: 100px;
    }
    .of_1{
        text-align: center;
    }
    
    .of_1 h2{
        width: 100%;
        color: #4C545C;
    text-align: center;
    font-family: Bai Jamjuree SemiBold;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.457px;
    }
    
    .pi{
    
        width: 100% ;
        color: #9EABB2;
        text-align: center;
        font-family: Bai Jamjuree;
        font-size: 20px;
        margin:auto;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.12px;
        margin-top: 20px;
    
        
    }
    
    .block{
        max-width: 90%;
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        gap: 70px;
        margin-top: 145px;
    }
    .p{
    width: 100%;
        color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.12px;
    margin:auto;
    margin-top:  12px;
    
    
    
    
    }
    
    .h3_tag{
        width: 100%;
        color: #4C545C;
        text-align: center;
        font-family: Bai Jamjuree SemiBold;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.391px;
    }
    
    .blok{
     
      display: flex;
      width:90%;
      flex-direction: row;
      gap :50px;
    }
    .blok img{
        display: flex;
       max-width: 100px;
    }
    
    .block{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;
        margin: auto;
        margin-top: 150px;   
    }
    
    
    .logo_text h1{
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }
    
    .logo_text p{
    
    
    
       width: 100%;
       color: #9EABB2;
    text-align: center;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.12px;
    
      
    
        
    }
    
    .btn_07{
  display: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0;        
     }
    
    .btn__btn_1{
        width: 230px;
        margin: auto;
        border: none;
     height: 50px;
     color: white;
     border-radius: 28px;
     background: #26BBA4;
     box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
     /* margin-top: 70px; */
     cursor: pointer;  
    }
    
    
    .btn__btn_2{
        width: 230px;
        margin: auto;
        border: none;
     height: 50px;
     color: white;
     border-radius: 28px;
     background: #6174FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
     /* margin-top: 20px; */
     cursor: pointer;
    }
    
    
    /* start footer */
    
    .footer{
        max-width: 100%;
        opacity: 0.9;
         background:   rgb(210, 220, 226);
         /* display:flex; */
         flex-direction: row;
        
    }
    .content_footer{
        display: unset;
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;  
    }
    
    .logo__footer{
        display: unset;
        width: 100%;
       
        /* flex-direction: row; */
         text-align: center;
          
        }
     .c_001{
       max-width: 30%;
       margin: auto;
       margin-top: 78px;
    }
    .foot_1 h4{
        display: unset;
        flex-direction: column;
       
    }
    .obshi {
       
        display: unset;
        display: flex;
       justify-content: center;
        width: 50%;
       align-items: center;
        gap: 15px;
    }
    
    .aykin{
     display: flex; 
     justify-content: center;
     gap: 20px;
    
    }
    .aykin i{
        font-size: 24px;
        margin-top: 35px;
    }
   
}
}